/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Narrow Column */
.content-column {
	max-width: 65%;
	margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

/* Tooltip class styling goes here */
.tooltip {
	position: absolute;
	text-align: center;
	padding: 10px;
	font: 10px sans-serif;
	background: rgb(218, 224, 238);
	border: 0px;
	border-radius: 8px;
  }

/* bracket circle nodes */
  .node circle {
	fill: rgb(0, 0, 0);
	stroke: black;
	stroke-width: 3px;
  }

/* bracket text */
  .node text {
	font: 12px sans-serif;
  }
  
/* lines between nodes */
  .link {
	fill: none;
	stroke: rgb(0, 0, 0);
	stroke-width: 3px;
  }
